# Ignore configuration files that may contain sensitive information.
sites/*/local.settings.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

robots.txt

# IDE specific files to ignore.
# PHPStorm project directory.
.idea
# Aptana Studio/Eclipse project files.
.settings
.project

# Useless OS files
.DS_Store

# Cache files
cache/*
cache
cache/*/normal
.sass-cache


# Data Files
sites/*/data

