/*
 * Nested ordered lists with subsections
 * @see http://stackoverflow.com/questions/3635955/how-to-create-a-1-1-1-2-1-3-html-list
 */
ol ol {
    margin-left: 1.2em;
}

ol p {
    margin-left: 1.2em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-right: 1.2em;
}

ol.numeric-decimals { counter-reset:section; list-style-type:none; }
ol.numeric-decimals li { list-style-type:none; }
ol.numeric-decimals li ol { counter-reset:subsection; }
ol.numeric-decimals li ol li ol { counter-reset:tertiarysection; }

ol.numeric-decimals li:before{
    counter-increment:section;
    content:counter(section) ". ";
    font-weight: bold;
}

ol.numeric-decimals li ol li:before {
    counter-increment:subsection;
    content:counter(section) "." counter(subsection) " ";
}

ol.numeric-decimals li ol li ol li:before {
    counter-increment:tertiarysection;
    content:counter(section) "." counter(subsection) "." counter(tertiarysection) " ";
}