/*
 * Nested ordered lists with subsections
 * @see http://stackoverflow.com/questions/3635955/how-to-create-a-1-1-1-2-1-3-html-list
 */
ol ol {
    margin-left: 1.2em;
}

ol li {
  margin: 10px auto;
}

ol li:first-of-type {
  margin-top: 0;
}

ol p {
    margin-left: 1.2em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-right: 1.2em;
}

ol.numeric-decimals { counter-reset:section; list-style-type:none; }
ol.numeric-decimals li { list-style-type:none; }
ol.numeric-decimals li ol:not([type="a"]) { counter-reset:subsection; }
ol.numeric-decimals li ol:not([type="a"]) li ol:not([type="a"]) { counter-reset:tertiarysection; }

ol.numeric-decimals li:before{
    counter-increment:section;
    content:counter(section) ". ";
    font-weight: bold;
}

ol.numeric-decimals li ol li:before {
    counter-increment:subsection;
    content:counter(section) "." counter(subsection) " ";
}

ol.numeric-decimals li ol li ol li:before {
    counter-increment:tertiarysection;
    content:counter(section) "." counter(subsection) "." counter(tertiarysection) " ";
}

ol[type="a"] {counter-reset: s !important; list-style-type: none !important;}
ol[type="a"] li:before {counter-increment: s !important; content: counter(s, lower-alpha) ". " !important; }